select:focus, input:focus{
  outline: none;
}

select,
input {
  border: none;
}

select {
  color: #b4b4b4;
  height: 2.5rem;
  padding: 5px 30px;
}

input[type="text"] {
  line-height: 2rem;
  padding: 5px 10px;
}

nav,
.book {
  background-color: white;
}

nav,
.categories-section,
.book-section,
.add-book-section,
.add-book-form {
  display: flex;
}

nav,
.categories-section,
.book-section {
  align-items: center;
}

nav {
  position: relative;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 2rem;
}

.nav-title,
.book-title {
  font-weight: bolder;
}

.nav-title {
  color: #0290ff;
}

.categories-section,
.book-section,
.add-book-section {
  flex-direction: column;
}

.categories-section,
.book-section {
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.book,
.gray-line,
.add-book-section {
  width: 100%;
}

.book,
.gray-line {
  margin-bottom: 2rem;
}

.book-info {
  padding: 2rem;
}

.book-category,
.book-title {
  margin-bottom: 0.5rem;
}

.book-category,
.add-book-header {
  font-weight: bold;
  font-size: medium;
  color: #8e8e8e;
}

.book-author {
  font-size: small;
  color: #72a4cf;
}

.gray-line {
  height: 2px;
  background-color: #f2f2f2;
}

.add-book-section {
  justify-content: flex-start;
}

.add-book-header {
  margin-bottom: 1rem;
}

.add-book-form {
  justify-content: space-between;
}

.add-book-title {
  width: 60%;
}

.add-book-btn {
  color: white;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 0.6rem 3rem !important;
  margin-left: 2rem;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  cursor: pointer;
}

a:hover,
a:focus,
.active-link {
  color: gray !important;
}

.App {
  color: black;
  background-color: #fafafa;
  font-size: calc(5px + 2vmin);

  /* padding: 0 2% 0 2%; */
  min-height: 100vh;
}

/* Bootstrap Button */
.btn {
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 0;

  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: white;
  text-decoration: none;
}

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}