nav,
.book {
  background-color: white;
}

nav,
.categories-section,
.book-section {
  display: flex;
  align-items: center;
}

nav {
  position: relative;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 2rem;
}

.nav-title,
.book-title {
  font-weight: bolder;
}

.nav-title {
  color: #0290ff;
}

.categories-section,
.book-section {
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.book,
.gray-line {
  width: 100%;
  margin-bottom: 2rem;
}

.book-info {
  padding: 2rem;
}

.book-category,
.book-title {
  margin-bottom: 0.5rem;
}

.book-category {
  font-weight: bold;
  font-size: medium;
  color: #8e8e8e;
}

.book-author {
  font-size: small;
  color: #72a4cf;
}

.gray-line {
  height: 2px;
  background-color: #f2f2f2;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  cursor: pointer;
}

a:hover,
a:focus,
.active-link {
  color: gray !important;
}

.App {
  color: black;
  background-color: #fafafa;
  font-size: calc(5px + 2vmin);

  /* padding: 0 2% 0 2%; */
  min-height: 100vh;
}
